.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #0b3899;
  color: white;
  padding: 1em;
  top: 3em;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 1em;
  margin: 0.8em 0;
  border-radius: 0.5em;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar ul li:hover {
  background-color: #08296e;
}
